</div>
                                        <div class="col-md-6">
                                            <fieldset>
                                                <label for="to">Ville:</label>
                                                <select required name='to' onchange='this.form.()'>
                                                    <option value="">Selection de la ville...</option>
                                                    <option value="Rabat">Rabat</option>
                                                    <option value="Casablanca">Casablanca</option>
                                                    <option value="Tanger">Tanger</option>
                                                    <option value="Agadir">Agadir</option>
                                                    <option value="Marrakech">Marrakech</option>
                                                    <option value="Fes">Fes</option>
                                                    <option value="Oujda">Oujda</option>

                                                </select>
                                            </fieldset>
                                        </div>
                                          <div class="col-md-6">
                                            <fieldset>
                                                <label for="to">Rémunération :</label>
                                                <select required name='to' onchange='this.form.()'>
                                                    <option value="">Selection de la rémunération...</option>
                                                    <option value="Rabat">0-100</option>
                                                    <option value="Casablanca">100-500</option>
                                                    <option value="Tanger">500-1000</option>
                                                    <option value="Agadir">1000-10000</option>
                                                    <option value="Marrakech">>10000</option>


                                                </select>
                                            </fieldset>
                                        </div>
                                        <div class="col-md-6">
                                            <fieldset>
                                                <label for="departure">De:</label>
                                                <input name="deparure" type="text" class="form-control date" id="deparure" placeholder="Select date..." required onchange='this.form.()'>
                                            </fieldset>
                                        </div>
                                        <div class="col-md-6">
                                            <fieldset>
                                                <label for="return">Jusqu'à:</label>
                                                <input name="return" type="text" class="form-control date" id="return" placeholder="Select date..." required onchange='this.form.()'>
                                            </fieldset>
                                        </div>

                                        <div class="col-md-6">
                                            <fieldset>
                                                <button type="submit" id="form-submit" class="btn">Chercher</button>
                                            </fieldset>
                                        </div>